
<h1>Get to Know Joel!</h1>

<br/>

<div>
    @* Quick wits comedy link *@
    <p>Click <a href="https://www.qwcomedy.com/"> here</a> to see Joel perform live comedy at Quick Wits Comedy!</p>
</div>
<br/>

<div>
    @* Link to the baconsale  *@
    <p>Click <a href="https://baconsale.com/"> here</a> to listen to Joel's podcast, Baconsale!</p>
</div>
<br/>

<div>
    @* Image that links to baconsale as well *@
    <a href="https://baconsale.com/">
        <img src="/Baconsale.jpg" height="500"/>
    </a>
</div>