@model Mission6.Models.Movie

<h1>Add a New Movie: </h1>

@* Form to collect all the movie data *@
<form method="post">
    
    <input type="hidden" asp-for="MovieId"></input>
    
    <label asp-for="CategoryId">Category </label>
    <select asp-for="CategoryId">
        <option value="">--- Select a Category ---</option>
        @foreach (Category x in ViewBag.Categories)
        {
            <option value="@x.CategoryId">@x.CategoryName</option>
        }
    </select>
    <br/>
    <br/>
    <label asp-for="Title">Title</label>
    <input asp-for="Title"/>
    <br/>
    <br/>
    <label asp-for="Year">Year</label>
    <input asp-for="Year"/>
    <br/>
    <br/>
    <label asp-for="Director">Director </label>
    <input asp-for="Director"/>
    <br/>
    <br/>
    <label asp-for="Rating">Rating </label>
    <select asp-for="Rating">
        <option value="">--- Select a rating ---</option>
        @foreach (string rating in ViewBag.Ratings)
        {
            <option value="@rating">@rating</option>
        }
    </select>
    <br/>
    <br/>
    <label asp-for="Edited">Edited </label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br/>
    <br/>
    <label asp-for="LentTo">Lent To </label>
    <input asp-for="LentTo"/>
    <br/>
    <br/>
    <label asp-for="CopiedToPlex">Copied to Plex </label>
    <select asp-for="CopiedToPlex">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    <br/>
    <br/>
    <label asp-for="Notes">Notes </label>
    <input asp-for="Notes"/>
    <br/>
    <br/>
    <button type="submit">Enter Movie</button>
    
    <div asp-validation-summary="All"></div>
</form>